
#main {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#323232
}


#main > div {
  width: 90vw;
  margin: 1em auto;
}

#logo {
  text-align: center;
}
#logo img {
  width: 40%;
}

#logo h1 {
  font-size: 25px;
  margin-top: -10px;
  line-height: 25px;
}

#logo p {
  font-size: 11px;
}


#data {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#data h2 {
  font-size: 1.5em;
}

#data p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: -20px;
  font-size: 25px;
}

#vacunacion {
  border: 5px solid #7caf50;
  border-radius: 10px;
  box-sizing: content-box;
  padding: 0.5em;
  line-height: 5px;
  font-size: 10px;
}

#vacunacion p:last-child {
 font-size: 12px;
}

.green {
  color:#7caf50;
  font-weight: bold;
  font-size: 25px;
}

.grey {
  color:#939393
}

.check {
  font-size: 25px;
  font-weight: bold;
}


#diagnostico {
  border: 5px solid #d1d1d1;
  border-radius: 10px;
  box-sizing: content-box;
  padding: 0.5em;
  line-height: 5px;
  font-size: 10px;
}

#info p {
  text-align: center;
  font-size: 11px;
}