
#main {
  margin: auto;
  width: 90vw;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#323232
}

#main > div {
  width: 90%;
  margin: 2em auto;

}

.center {
  text-align: center;
  width: 100%;
}

.left {
  text-align: left;
  width: 100%;
}

#logo h1 {
  font-size: 2rem;
}

#data {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2rem;
  line-height: 1em;
}

#data h2 {
  font-size: 2em;
}

#data p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.green {
  color:#7caf50;
  font-weight: bold;
  font-size: 3.5rem;
}

.grey {
  color:#939393
}

.check {
  font-size: 5rem;
  font-weight: bold;
}

#vacunacion {
  border: 8px solid #7caf50;
  border-radius: 10px;
  box-sizing: content-box;
  padding: 2em;
  line-height: 20px;
}

#diagnostico {
  border: 8px solid #d1d1d1;
  border-radius: 10px;
  box-sizing: content-box;
  padding: 2em;
  line-height: 20px;
}

#info {
  margin-top: 2em;
}
#info p {
  font-size: 1em;
}